.ghci
*.o
*.hi
.*.swp
.*.swo
dist
cabal-dev-sandbox
cabal-sandbox
.cabal-sandbox
cabal.sandbox.config
.metadata
.eclipsefp
RemoteSystemsTempFiles
*.prof

*.backup
*.bak
*.aux
*.log
*~
main.pdf
*.aux
*.log

