.ghci
*.o
*.hi
.*.swp
.*.swo
dist
Language/BigBang/Syntax/Lexer.hs
Language/BigBang/Syntax/Parser.hs
Language/BigBang/Syntax/ParserData.hs
Parser.info
InterpreterMain

*.backup
documentation/Logic_Rules.pdf
documentation/Type_System_Rules.pdf
*.aux
*.log

