<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.preferencePages">
		<page name="Bigbang" class="edu.jhu.cs.bigbang.eclipse.preferences.MainPreferencePage"
			id="edu.jhu.cs.bigbang.eclipse.preferences.MainPreferencePage">
		</page>
	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective name="BigBang" icon="icons/sample.gif"
			class="edu.jhu.cs.bigbang.eclipse.perspective.BigbangPerspective"
			id="edu.jhu.cs.bigbang.eclipse.perspective.BigbangPerspective">
		</perspective>
	</extension>


	<extension
    	point = "org.eclipse.ui.editors">
		<editor
  	   		id = "edu.jhu.cs.bigbang.eclipse.editors.Editor"
  	   		name="edu.jhu.cs.bigbang.eclipse Editor"
      		icon="icons/sample.gif"
      		class="edu.jhu.cs.bigbang.eclipse.editors.Editor"
	   		extensions="tb"
           	contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
		</editor>
	</extension>

	<extension point="org.eclipse.ui.views">
      	<category name="BigBang" id="edu.jhu.cs.bigbang.eclipse">
      	</category>
      	<view
        	name="TopLoop View"
            icon="icons/sample.gif"
            category="edu.jhu.cs.bigbang.eclipse"
            class="edu.jhu.cs.bigbang.eclipse.toploop.TopLoopView"
            id="edu.jhu.cs.bigbang.eclipse.toploop.TopLoopView">
      	</view>
	</extension>
   
	<extension point="org.eclipse.ui.newWizards">
		<category name="BigBang" id="edu.jhu.cs.bigbang.eclipse.wizard.Category">
		</category>
		<wizard category="edu.jhu.cs.bigbang.eclipse.wizard.Category"
			icon="icons/sample.gif"
			class="edu.jhu.cs.bigbang.eclipse.wizard.NewFileWizard"
			name="BigBang File"
			id="edu.jhu.cs.bigbang.eclipse.wizard.NewFileWizard">
			<description> Create a new BigBang file </description>
		</wizard>		
		<wizard category="edu.jhu.cs.bigbang.eclipse.wizard.Category"
		    icon="icons/sample.gif"
			class="edu.jhu.cs.bigbang.eclipse.wizard.EmptyProjectWizard"
			id="edu.jhu.cs.bigbang.eclipse.wizard.EmptyProjectWizard"
			name="BigBang Empty Project"
			project="true">
			<selection class="org.eclipse.core.resources.IResource"/>
			<description> Create a new empty BigBang project </description>
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet description="Actions on Bigbang source code"
			id="edu.jhu.cs.bigbang.eclipse_sourceActionSet" label="BigBang Source Actions"
			visible="true">
			<menu id="edu.jhu.cs.bigbang.eclipse_sourceMenu" label="BigBang">
				<separator name="slot1"/>
			</menu>
			<action class="edu.jhu.cs.bigbang.eclipse.actions.TopLoopEvalLinesAction"
				definitionId="edu.jhu.cs.bigbang.eclipse.TopLoopEvalLinesAction"
				id="edu.jhu.cs.bigbang.eclipse_sourceActions_TopLoopEvalLinesAction"
				label="Eval selected lines" menubarPath="edu.jhu.cs.bigbang.eclipse_sourceMenu/slot1"
				style="push"/>
			<action class="edu.jhu.cs.bigbang.eclipse.actions.TopLoopEvalFileAction"
				definitionId="edu.jhu.cs.bigbang.eclipse.TopLoopEvalFileAction"
				id="edu.jhu.cs.bigbang.eclipse_sourceActions_TopLoopEvalFileAction"
				label="Eval the file" menubarPath="edu.jhu.cs.bigbang.eclipse_sourceMenu/slot1"
				style="push"/>
		</actionSet>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
			<command id="edu.jhu.cs.bigbang.eclipse.TopLoopEvalLinesAction" name="Eval selected lines"/>
			<command id="edu.jhu.cs.bigbang.eclipse.TopLoopEvalFileAction" name="Eval the file"/>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
			<key commandId="edu.jhu.cs.bigbang.eclipse.TopLoopEvalLinesAction"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F6"/>
			<key commandId="edu.jhu.cs.bigbang.eclipse.TopLoopEvalFileAction"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F7"/>
	</extension>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="edu.jhu.cs.bigbang.eclipse.launching.LaunchConfigDelegate"
			id="edu.jhu.cs.bigbang.eclipse.launching.LaunchConfigDelegate" modes="run,debug"
			name="edu.jhu.cs.bigbang.eclipse Executable" public="true"/>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="edu.jhu.cs.bigbang.eclipse.launching.LaunchConfigurationTabGroup"
			description="Configure Bigbang executable launching"
			id="edu.jhu.cs.bigbang.eclipse.launching.LaunchConfigurationTabGroup"
			type="edu.jhu.cs.bigbang.eclipse.launching.LaunchConfigDelegate"/>
	</extension>
  
	<extension point="org.eclipse.help.contexts">
    	<contexts file="contexts.xml"> </contexts>
   	</extension>

</plugin>
